.works {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 255, 255);

}



.servicesContainer {
    font-family: 'Arial', sans-serif;
    padding: 50px;
}

.servicesHeader {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.servicesDescription {
    font-size: 16px;
    margin-bottom: 20px;
}

.imagesContainer {
    display: flex;
    justify-content: center;
}

.leftContainer {
    flex: 1;
    margin-right: 20px;
}

.largeImage {
    width: 100%;
    height: auto;
    display: block;
}

.rightContainer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.smallImage {
    width: calc(50% - 10px);
    /* Subtracting margin */
    height: auto;
    margin-bottom: 20px;
}

.topRow,
.bottomRow {
    display: flex;
    justify-content: space-between;
}